.wrapper {
    background: #888888;
    background-image: url(../../asset/images/Header.jpg);
    background-size: cover;
}

.logo {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #f65261;
    font-size: 20px;

    & > span {
        font-weight: 900;
    }
}
